*{
    margin: 0;
    padding: 0;
}

#left{
    float:left;
    width: 50%;
    height: 630px;
    overflow: hidden;
    background-color: #38216b;
}

img {
    width: 500px;
    height: 400px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#first-header {
    font-size: 60px;
    font-weight: 900;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
   
}

#right {
    background-color: white;
    padding-left: 120px;
    padding-top:  100px;
    overflow: hidden;
}

#second-header {
    font-size: 60px;
    font-weight: 900;
}

p {
    font-size: 25px;
}

.email {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 40px;
    background-color: #38216b;
    border: 0;
    color: white;
}
