*{
    margin: 0;
    padding: 0;
}

#left{
    float:left;
    width: 50%;
    /*the height should have been in vh so that you can use the whole page up*/
    height: 100vh;
    overflow: hidden;
    background-color: #38216b;
}

img {
    /* to resize images you only need the width, the image would use it's width to height proportion to determine it's new height*/
    width: 45vw;
    /*noticed i used vw again, it's easier to calculate, it means 'view width' its proportional to the screen size width, so its in percentages, let me know if you need more explanation on this*/
}

body {
    font-family: 'Montserrat', sans-serif;
}

#first-header {
    font-size: 60px;
    font-weight: 900;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
   
}

#right {
    background-color: white;
    padding-left: 120px;
    padding-top:  100px;
    overflow: hidden;
}

#second-header {
    font-size: 60px;
    font-weight: 900;
}

p {
    font-size: 25px;
}

.email {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 40px;
    background-color: #38216b;
    border: 0;
    color: white;
}
